@font-face {
	font-family: 'Precious';
	src: local('Precious'), url(./fonts/Precious.ttf) format('truetype');
	
  }
@font-face{
  font-family: 'LittleLordFontleroyNF';
	src: local('LittleLordFontleroyNF'), url(./fonts/LittleLordFontleroyNF.ttf) format('truetype');
}
@font-face{
	font-family: 'Quikhand';
	  src: local('Quikhand'), url(./fonts/Quikhand.ttf) format('truetype');
  }
body{
	background-color: #660000;
}
.wrapper{
    display: grid;
    grid-template-columns:1fr 1.5fr;
    grid-auto-rows:500px;
    padding:100px;
}
.wrapper-left{
    background:white;
    padding: 8em;
}
.wrapper-right{
    background:yellow;
    text-align: center;
}
#heading{
	color: #660000;
	font-family: Precious;
	text-align: center;
	font-size: 32px;
}

#store-name{
	color:#660000;
	font-weight: bolder;
	text-align: center;
	font-family: LittleLordFontleroyNF;
	font-size: 40px;
}
#form-title{
    color:#660000;
    font-family:LittleLordFontleroyNF;
    text-align: center;
    font-weight: bolder;
}

.input{
    padding: 0.7em;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
   
}
.input-name{
    color: #660000;
    font-family:LittleLordFontleroyNF;
    font-weight:bolder;
    font-size: 15px;
}
.input-field{
    font-family:LittleLordFontleroyNF;
}
button{
    font-family:LittleLordFontleroyNF;
    font-weight: bolder;
    color: #660000;
}
.input-submit{
    text-align: center;
    padding-top:5px ;
   
}
#form{
    font-family:LittleLordFontleroyNF;
    font-size: 20px;
}
